* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 500px;
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    /* display: flex; */
}

.nav {
    background-color: #17a2b8;
    height: 100px;
    width: 100%;
}

img {
    height: 100px;
    position:relative;
    top: 50%;
    left: 5%;
}

.content {
    /* display: flex; */
    flex:1;
    position: relative;
    flex-direction: column;
    left: 5%;
    margin-top: 7%;
}

#mapMarker {
    width: 12px;
    height: 19px;
}

p {
    display: flex;
}

ul {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    width: 30%;
}