* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 500px;
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

.nav {
    background-color: #17a2b8;
    height: 100px;
    width: 100%;
}

#profilePic {
    height: 100px;
    position:relative;
    top: 50%;
    left: 5%;
}

.content {
    width: 50%;
    position: relative;
    flex-direction: column;
    left: 5%;
    margin: 7% 0 1%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.location {
    display: flex;
}

#mapMarker {
    width: 12px;
    height: 19px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    width: 65%;
}

#gear {
    height: 15px;
}