* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
}

.nav {
    background-color: #17a2b8;
    height: 100px;
    width: 100%;
}

img {
    height: 100px;
    position:relative;
    top: 50px;
    left: 50px;
}

.content {
    display: flex;
    
    margin: 5% 2%;
}