@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive; 
}

.container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

.nav {
    background-color: #17a2b8;
    height: 100px;
    width: 100%;
}

#profilePic {
    height: 100px;
    position:relative;
    top: 50%;
    left: 5%;
}

.content {
    width: 50%;
    position: relative;
    flex-direction: column;
    left: 5%;
    margin: 9% 0 3%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
}

h1 {
    font-weight: normal;
    flex:1;
}

h3 {
    font-weight:normal;
}

.location {
    display: flex;
    flex:1;
}

#mapMarker {
    width: 12px;
    height: 19px;
    margin: 0px 10px;
}

.description {
    width: 100%;
    flex: 1;
}

ul {
    list-style-type: none;
    display:flex;
    gap: 0.3rem;
}

#gear {
    height: 18px;
    margin-right: 5px;
}

.editProfile {
    display: flex;
    align-items: center;
    flex:1;
}